:root {
  --mint-color: #ebfffb;
  --white-color: white;
  --black--color: black;
  --button-hover-color: #90caf9;
  --gray-color: gray;
  --light-gray-color: #f5f5f5;
  --light-g-color: #fbfffc;
  --light-y-color: #fffde7;
  --body-color: #e5ffff;
  --TT-color: #fffffb;

  /* font-size */
  --font-size-big: 48px;
  --font-size-medium: 36px;
  --font-size-regular: 20px;
  --font-size-small: 12px;
  --font-size-micro: 8px;

  /* spacing */
  --big-spacing: 18px;
  --medium-spacing: 12px;
  --small-spacing: 6px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--mint-color);
}
/* header */
header {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
}
header span {
  font-size: 80px;
  font-family: "Nanum Myeongjo", serif;
}
/* form */

form {
  display: flex;
  margin: var(--medium-spacing);
}
form .idBlock #idText {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Do Hyeon", sans-serif;
}
form .passwordBlock #passwordText {
  font-family: "Do Hyeon", sans-serif;
}
form .loginBtnBlock {
  width: 100%;
  padding-left: var(--small-spacing);
}
form .loginBtnBlock #loginBtn {
  width: 100%;
  height: 100%;
  display: block;
  font-family: "Do Hyeon", sans-serif;
  box-shadow: 1px 1px 5px;
  background-color: var(--white-color);
}
form .loginBtnBlock #loginBtn:active {
  box-shadow: inset 1px 1px 5px;
}
/* article */
article {
  text-align: center;
}
article #newMember {
  width: 60%;
  font-family: "Do Hyeon", sans-serif;
  box-shadow: 1px 1px 5px;
  background-color: var(--white-color);
}
article #newMember:active {
  box-shadow: inset 1px 1px 5px;
}
