:root {
  --mint-color: #ebfffb;
  --white-color: white;
  --black--color: black;
  --button-hover-color: #90caf9;
  --gray-color: gray;
  --light-gray-color: #f5f5f5;
  --light-g-color: #fbfffc;
  --light-y-color: #fffde7;
  --body-color: #e5ffff;
  --TT-color: #fffffb;

  /* font-size */
  --font-size-big: 48px;
  --font-size-medium: 36px;
  --font-size-regular: 20px;
  --font-size-small: 12px;
  --font-size-micro: 8px;

  /* spacing */
  --big-spacing: 18px;
  --medium-spacing: 12px;
  --small-spacing: 6px;
}
/*essential selector  */
* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Myeongjo", serif;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black--color);
}
body {
  background-color: var(--body-color);
  box-sizing: border-box;
}
header {
  font-size: var(--font-size-big);
  text-align: center;
  padding: var(--small-spacing) 0;
  background-color: var(--mint-color);
}
/* Navigation */
.nav {
  border: 1.5px solid var(--black--color);
  border-left: 0;
  border-right: 0;
  /* border-top: 0; */
  display: flex;
  justify-content: space-evenly;
  padding: var(--small-spacing) 0;
  background-color: var(--light-g-color);
}
.nav li {
  width: 100px;
}
.nav li button {
  width: 100%;
  font-size: var(--font-size-regular);
  border: none;
  background-color: var(--light-g-color);
}
.nav li button:hover {
  background-color: var(--button-hover-color);
  border-radius: 100%;
  transition-duration: 2s;
}
.nav li button:hover ~ .nav li button:hover {
  border-radius: 40%;
}
/* Main */
main {
  border-bottom: 1px solid var(--gray-color);
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 0 var(--medium-spacing);
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--medium-spacing);
  justify-content: space-evenly;
}
.main li {
  display: flex;
}
.main li button {
  border: 1px solid var(--black--color);
  margin: 0 auto;
  min-width: 100px;
  min-height: 100px;
  background-color: var(--white-color);
  margin-bottom: var(--medium-spacing);
  border: 2px solid black;
  border-radius: 20%;
  box-shadow: 3px 3px 1px;
}
.main li button i {
  font-size: var(--font-size-medium);
}
/* Article */
article {
  margin-top: var(--medium-spacing);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
article .header {
  padding-top: var(--small-spacing);
  font-size: var(--font-size-regular);
}
/* Today Todoly */
article .TT {
  border: 1.5px solid black;
  width: 100%;
  height: 300px;
  text-align: center;
  margin-bottom: var(--medium-spacing);
  display: flex;
  flex-direction: column;
}
/* Friend List */
article .FL {
  border: 1.5px solid black;
  width: 100%;
  height: 300px;
  text-align: center;
  margin-bottom: var(--small-spacing);
}
/* Footer */
footer {
  display: flex;
}
footer span {
  font-size: var(--font-size-small);
}
footer span:nth-child(1) {
  margin-left: var(--medium-spacing);
}
footer span:nth-child(2) {
  margin-left: var(--big-spacing);
}
article .TT .subMain .firend-objects {
  display: none;
}
.FL .list .firend {
  display: none;
}

@media screen and (min-width: 520px) {
  .main {
    justify-content: flex-start;
  }
  .main li button {
    margin-right: var(--medium-spacing);
  }
  article {
    flex-direction: row;
    justify-content: space-evenly;
  }
  article .TT {
    margin: 0;
    flex: 1 1 70%;
    background-color: var(--TT-color);
  }

  article .TT .subMain {
    position: static;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    overflow-x: scroll;
    justify-content: center;
    transition-duration: 4s;
  }
  @-webkit-keyframes play-state {
    from {
      left: 20px;
    }
    to {
      left: -550px;
    }
  }

  article .TT .subMain .firend-objects {
    position: relative;
    animation: play-state 10s linear infinite alternate;
    max-width: 200px;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: var(--big-spacing) var(--medium-spacing);
    align-items: center;
    background-color: var(--TT-color);
    border: none;
  }
  article .TT .subMain .firend-objects .imgCover {
    border: 1.5px solid var(--black--color);
    border-radius: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  article .TT .subMain .firend-objects .imgCover img {
    width: 100%;
    height: 100%;
  }
  article .TT .subMain .firend-objects .metaData {
    align-items: center;
  }
  article .trash-block {
    flex: 1 1 1%;
  }
  article .FL {
    flex: 1 1 29%;
    margin: 0;
    transition-duration: 4s;
  }
  .TT ~ .FL {
    background-color: var(--light-y-color);
  }
  article .FL .list {
    width: 100%;
    height: 80%;
    margin: var(--small-spacing);
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  .FL .list .firend {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--small-spacing);
    padding-top: var(--small-spacing);
    border-top: 1px solid var(--black--color);
  }
  article .FL .list .firend .fdImg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
  }

  article .FL .list .firend .fdImg img {
    width: 100%;
    height: 100%;
  }
  article .FL .list .firend .metaData {
    width: 80%;
  }
}
